.container {
  background-color: #282c34;
  font-size: calc(10px + 4vmin);
  color: white;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.qrcode {
  width: 40%;
  padding-right: 2%;
  /* opacity: 0; */
}

.sub-container{
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin-top: -6%;
}

.card {
  border: 2px solid white;
  width: 40%;
  border-radius: 1%;
  background-color: #2a2c30;
  color: #eeeeee;
  font-size: calc(15px + 2vmin);
  text-align: left;
  padding-left: 1%;
}

.roll {
  border-style: none;
  background: transparent;
  outline: none;
  width: 120%;
}

.webflow-style-input > button {
  padding: 0;
  background: none;
  border: none;
  outline: none;
}

.webflow-style-input {
  /* position: relative; */
  display: flex;
  flex-direction: row;
  margin: 1% auto;
  border-radius: 2px;
  padding: 1.4rem 10rem 1.6rem;
  background: rgba(57, 63, 84, 0.8);
}

.webflow-style-input input {
  flex-grow: 1;
  color: #bfd2ff;
  font-size: 1.8rem;
  line-height: 2.4rem;
  vertical-align: middle;
}
.webflow-style-input input::-webkit-input-placeholder {
  color: #7881a1;
}

.webflow-style-input button {
  color: #7881a1;
  font-size: 2.4rem;
  line-height: 2.4rem;
  vertical-align: middle;
  transition: color 0.25s;
}
.webflow-style-input button:hover {
  color: #bfd2ff;
}

.assit-msg{
  margin-top: -5%;
}