.container {
    overflow-y: hidden;
    overflow-x: hidden;
    font-size: calc(10px + 4vmin);
    color: white;
}

.qrcode {
    width: 10%;
    opacity: 0;
    /* height: 20px; */
}

.form_input {
    opacity: 0;
}

.msg {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
}

.card {
    border: 2px solid white;
    width: 40%;
    border-radius: 2%;
    padding: 1%;
    background-color: #2a2c30;
    color: #eeeeee;
    font-size: calc(15px + 2vmin);
    padding: 0;
}

.roll {
    border-style: none;
    background: transparent;
    outline: none;
  }
  
  .webflow-style-input > button {
    padding: 0;
    background: none;
    border: none;
    outline: none;
  }

  @-webkit-keyframes gradient {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 100% 0;
    }
  }
  
  @keyframes gradient {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 100% 0;
    }
  }
  .webflow-style-input {
    /* position: relative; */
    display: flex;
    flex-direction: row;
    /* width: 100%;
    max-width: 400px; */
    margin: 0 auto;
    border-radius: 2px;
    padding: 1.4rem 2rem 1.6rem;
    background: rgba(57, 63, 84, 0.8);
  }
  /* .webflow-style-input:after {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 999;
    height: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-position: 0% 0%;
    background: linear-gradient(to right, #b294ff, #57e6e6, #feffb8, #57e6e6, #b294ff, #57e6e6);
    background-size: 500% auto;
    -webkit-animation: gradient 3s linear infinite;
            animation: gradient 3s linear infinite;
  } */
  
  .webflow-style-input input {
    flex-grow: 1;
    color: #bfd2ff;
    font-size: 1.8rem;
    line-height: 2.4rem;
    vertical-align: middle;
  }
  .webflow-style-input input::-webkit-input-placeholder {
    color: #7881a1;
  }
  
  .webflow-style-input button {
    color: #7881a1;
    font-size: 2.4rem;
    line-height: 2.4rem;
    vertical-align: middle;
    transition: color 0.25s;
  }
  .webflow-style-input button:hover {
    color: #bfd2ff;
  }