body{
  min-height: 100vh;
}

.navbar {
  transform: translateY(-100%);
  /* normal, hidden state */
}

.nav-container:hover .navbar {
  transform: translateY(0);
  /* when parent is hovered */
}

/* Scrollbar */
::-webkit-scrollbar {
    width: .45rem;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(27, 27, 27, .4);
}
::-webkit-scrollbar-track{
    background: rgba(196, 196, 196, 0.4);
}



